.btn-login {

}



.link {
    padding: 15px;
}

.link-icon {
    max-width: 64px;
}

.link-content {

}

.link-attach {

}

.page-title {
    margin-top: 0;
}

.page-small-title {
    font-size: 12px;
}

.filter-wrapper {
    margin-bottom: 10px;
}

.filter {
    position: relative;
    padding: 5px 10px;
    padding-left: 80px;
    background-color: #fff;
}


.filter h4 {
    margin: 0 0 15px;
    padding-bottom: 10px;
    position: absolute;
    left: 10px;
    border-bottom: none;
    font-size: 14px;
    line-height: 28px;
    color: #333;
}

.filter a {
    display: inline-block;
    margin-right: 10px;
    padding: 0 5px;
    font-size: 14px;
    line-height: 28px;
    color: #333;
}

.filter a.active,
.filter a:hover {
    background-color: #049DF6;
    color: #fff;
}

