<div class="modal-header">
    <h3 class="modal-title">{{modalTitle}}</h3>
</div>
<div class="modal-body">
    <form class="bs-example form-horizontal ng-pristine ng-valid">
        <div class="form-group">
            <label class="col-lg-2 control-label">网址名称</label>
            <div class="col-lg-10">
                <input type="input" ng-model="web.title" class="form-control" placeholder="网址名称">
                <span class="help-block m-b-none">{{error}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">访问域名</label>
            <div class="col-lg-10">
                <input type="input" ng-model="web.link" class="form-control" placeholder="访问域名">
                <span class="help-block m-b-none">{{error}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">网址描述</label>
            <div class="col-lg-10">
                <input type="input" ng-model="web.description" class="form-control" placeholder="网址描述">
                <span class="help-block m-b-none">{{error}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">所属类别</label>
            <div class="col-lg-10">
                <input type="input" ng-model="web.type" class="form-control" placeholder="所属类别">
                <span class="help-block m-b-none">{{error}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">github</label>
            <div class="col-lg-10">
                <input type="input" ng-model="web.link_github" class="form-control" placeholder="github">
                <span class="help-block m-b-none">{{error}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">显示顺序</label>
            <div class="col-lg-10">
                <input type="number" ng-model="web.sort_order" class="form-control" placeholder="显示顺序">
                <span class="help-block m-b-none">{{error}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">是否公开</label>
            <div class="col-lg-10">
                <input type="input" ng-model="web.status_is" class="form-control" placeholder="是否公开">
                <span class="help-block m-b-none">{{error}}</span>
            </div>
        </div>

        <!--<div class="form-group">-->
            <!--<div class="col-lg-offset-2 col-lg-10">-->
                <!--<div class="checkbox">-->
                    <!--<label class="i-checks">-->
                        <!--<input type="checkbox" checked=""><i></i> 检查链接-->
                    <!--</label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button ng-click="edit()" type="submit" class="btn btn-sm btn-primary">修改</button>
            </div>
        </div>
    </form>


   <!-- <ul>
        <li ng-repeat="item in items">
            <a ng-click="selected.item = item">{{ item }}</a>
        </li>
    </ul>
    Selected: <b>{{ selected.item }}</b>-->
</div>
<!--<div class="modal-footer">-->
    <!--<button class="btn btn-default" ng-click="cancel()">取消</button>-->
    <!--<button class="btn btn-primary" ng-click="ok()">登陆</button>-->
<!--</div>-->